[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# Add toggle button to areas
[[patches]]
[patches.pattern]
target = 'cardarea.lua'
match_indent = true
position = 'at'
pattern = '''
card_count
'''
payload = '''
card_count,
(self == G.jokers or self == G.stocking_present) and {n=G.UIT.R, config = {align = 'cr', colour = G.C.CLEAR, padding = -0.5}, nodes = {
    {n=G.UIT.C, config = {align = 'cm', r = 0.1, colour = G.C.RED, hover = true, button = 'toggle_jokers_presents', padding = 0.05, button_dist = -0.1, area == self}, nodes = {
        {n=G.UIT.T, config = {text = localize(self == G.jokers and 'stocking_stuffer_to_presents' or 'stocking_stuffer_to_jokers'), scale = 0.2, colour = G.C.WHITE}}
    }},
    {n=G.UIT.C, config = {minw = 1.05}}
}} or nil,
'''

# Align present area counter
[[patches]]
[patches.pattern]
target = 'cardarea.lua'
match_indent = true
position = 'before'
pattern = '''
self.children.area_uibox = UIBox{
'''
payload = '''
if card_count and self == G.stocking_present then 
    card_count = {n=G.UIT.R, config={align = 'cl', padding = 0.03, no_fill = true}, nodes={
        {n=G.UIT.B, config={w = 0.1,h=0.1}},
        {n=G.UIT.T, config={text = localize('stocking_stuffer_present_count'), scale = 0.3, colour = G.C.WHITE}},
        {n=G.UIT.T, config={ref_table = self.config, ref_value = 'card_count', scale = 0.3, colour = G.C.WHITE}},
        {n=G.UIT.B, config={w = 0.1,h=0.1}}
    }}
end
'''

# Stop drawing
[[patches]]
[patches.pattern]
target = 'cardarea.lua'
match_indent = true
position = 'after'
pattern = '''
(self.config.type == 'deck' and self ~= G.deck) or
'''
payload = '''
(self.config.type == 'stocking_stuffer_hide') or
'''

# Present buttons while in Present area
[[patches]]
[patches.pattern]
target = 'functions/UI_definitions.lua'
match_indent = true
position = 'before'
pattern = '''
return base_background
'''
payload = '''
if (card.area == G.stocking_present and G.stocking_present) and card.config.center.use and type(card.config.center.use) == 'function' then --Add a use button if card has a use function
  base_attach.children.use = G.UIDEF.card_focus_button{
    card = card, parent = base_attach, type = 'use',
    func = 'can_use_consumeable', button = 'use_card', card_width = card_width
}
end
'''

# Prevent selling presents in Present area
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''
end
if card.ability.consumeable then
'''
position = "after"
payload = '''
    if (G.stocking_present and card.area == G.stocking_present) then
        if card.config.center.use and type(card.config.center.use) == 'function' then
            return {
                n=G.UIT.ROOT, config = {padding = 0, colour = G.C.CLEAR}, nodes={
                    {n=G.UIT.C, config={padding = 0.15, align = 'cl'}, nodes={
                    {n=G.UIT.R, config={align = 'cl'}, nodes={
                        {n=G.UIT.C, config={ref_table = card, align = "cr",maxw = 1.25, padding = 0.1, r=0.08, minw = 1.25, minh = (card.area and card.area.config.type == 'joker') and 0 or 1, hover = true, shadow = true, colour = G.C.UI.BACKGROUND_INACTIVE, one_press = true, button = 'use_card', func = 'can_use_consumeable'}, nodes={
                            {n=G.UIT.B, config = {w=0.1,h=0.6}},
                            {n=G.UIT.T, config={text = localize('b_use'),colour = G.C.UI.TEXT_LIGHT, scale = 0.55, shadow = true}}
                        }}
                    }},
                }},
            }}
        else
            return {
                n=G.UIT.ROOT, config = {padding = 0, colour = G.C.CLEAR}, nodes={
                    {n=G.UIT.C, config={padding = 0.15, align = 'cl'}, nodes={},
                }},
            }
        end
    end
'''
match_indent = true

# Present button alignment (This could potentially lead to some incompatibilities, not sure what better option there is apart from a janky hook)
[[patches]]
[patches.pattern]
target = "card.lua"
match_indent = true
position = 'at'
pattern = '''
config = {align=
        ((self.area == G.jokers) or (self.area == G.consumeables)) and "cr" or
        "bmi"
    , offset = 
        ((self.area == G.jokers) or (self.area == G.consumeables)) and {x=x_off - 0.4,y=0} or
        {x=0,y=0.65},
    parent =self}
'''
payload = '''
config = {align=
        ((self.area == G.jokers) or (self.area == G.consumeables) or (self.area == G.stocking_present)) and "cr" or
        "bmi"
    , offset = 
        ((self.area == G.jokers) or (self.area == G.consumeables) or (self.area == G.stocking_present)) and {x=x_off - 0.4,y=0} or
        {x=0,y=0.65},
    parent =self}
'''

# Adds present area to calculation pipeline
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
match_indent = true
position = 'before'
pattern = '''
-- TARGET: add your own CardAreas for joker evaluation
'''
payload = '''
table.insert(t, G.stocking_present)
table.insert(t, 1, G.stocking_flipper)
table.insert(t, 1, G.stocking_present)
table.insert(t, 1, G.stocking_flipper)
'''

# CardArea initialization (included in smods dev)
[[patches]]
[patches.pattern]
target = 'game.lua'
match_indent = true
position = 'after'
pattern = '''
G.playing_cards = {}

set_screen_positions()
'''
payload = '''
if V(SMODS.version) < V('1.0.0~BETA-1117b') then
    for _, mod in ipairs(SMODS.mod_list) do
        if mod.can_load and mod.custom_card_areas and type(mod.custom_card_areas) == "function" then
            mod.custom_card_areas(self)
        end
    end
end
'''

# Allow for dummy joker in collection
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/ui.lua"]'
match_indent = true
position = 'after'
pattern = '''
local pool = SMODS.collection_pool(_pool)
'''
payload = '''
if args.show_no_collection then pool = _pool end
'''

# Add before/after badge support
[[patches]]
[patches.pattern]
target = 'functions/misc_functions.lua'
match_indent = true
position = 'before'
pattern = '''
elseif part.control.X or part.control.B then
'''
payload = '''
elseif part.control.stocking then
     final_line[#final_line+1] = {n=G.UIT.C, config={align = "m", colour = StockingStuffer.colours[assembled_string] or G.C.RED, r = 0.05, padding = 0.06, res = 0.45}, nodes={
              {n=G.UIT.T, config={
                text = ' '..localize('stocking_stuffer_'..assembled_string)..' ',
                colour = G.C.UI.TEXT_LIGHT,
                scale = 0.24}},
          }}
'''
# Add before/after badge support
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
match_indent = true
position = 'before'
pattern = '''
elseif part.control.X or part.control.B then
'''
payload = '''
elseif part.control.stocking then
     final_line[#final_line+1] = {n=G.UIT.C, config={align = "m", colour = StockingStuffer.colours[assembled_string] or G.C.RED, r = 0.05, padding = 0.06, res = 0.45}, nodes={
              {n=G.UIT.T, config={
                text = ' '..localize('stocking_stuffer_'..assembled_string)..' ',
                colour = G.C.UI.TEXT_LIGHT,
                scale = 0.24}},
          }}
'''

# Allow {stocking} to be a valid control
[[patches]]
[patches.pattern]
target = 'functions/misc_functions.lua'
match_indent = true
position = 'after'
pattern = '''
local char = line:sub(i,i)
'''
payload = '''
if _c and char == '}' then _c_val = _c_val or true end
'''

# Enable disable_use_animation functionality
[[patches]]
[patches.pattern]
target = 'functions/button_callbacks.lua'
match_indent = true
position = 'before'
pattern = '''
    if G.booster_pack and not G.booster_pack.alignment.offset.py and ((not select_to and card.ability.consumeable) or not (G.GAME.pack_choices and G.GAME.pack_choices > 1)) then
'''
payload = '''
if not card.config.center.disable_use_animation then
'''
[[patches]]
[patches.pattern]
target = 'functions/button_callbacks.lua'
match_indent = true
position = 'before'
pattern = '''
if card.children.use_button then card.children.use_button:remove(); card.children.use_button = nil end
'''
payload = '''
end
'''
[[patches]]
[patches.pattern]
target = 'functions/button_callbacks.lua'
match_indent = true
position = 'before'
pattern = '''
    if G.shop then 
        G.shop.alignment.offset.y = G.shop.alignment.offset.py
'''
payload = '''
if not card.config.center.disable_use_animation then
'''
[[patches]]
[patches.pattern]
target = 'functions/button_callbacks.lua'
match_indent = true
position = 'before'
pattern = '''
if nc and not area then G.consumeables:emplace(card) end
'''
payload = '''
end
'''

# comment
[[patches]]
[patches.pattern]
target = 'functions/misc_functions.lua'
match_indent = true
position = 'at'
pattern = '''
if args.type == 'other' then
'''
payload = '''
if args.loc_target then
    loc_target = args.loc_target
elseif args.type == 'other' then
'''

# juice_card_until support
[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
match_indent = true
position = 'at'
pattern = '''
func = (function() if eval_func(card) then if not first or first then card:juice_up(0.1, 0.1) end;juice_card_until(card, eval_func, nil, 0.8) end return true end)
'''
payload = '''
func = (function() if eval_func(card) then if not first or first then card.ability.no_stocking = true; card:juice_up(0.1, 0.1) end;juice_card_until(card, eval_func, nil, 0.8) end card.ability.no_stocking = nil; return true end)
'''
