[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# Add toggle button to areas
[[patches]]
[patches.pattern]
target = 'cardarea.lua'
match_indent = true
position = 'at'
pattern = '''
card_count
'''
payload = '''
card_count,
(self == G.jokers or self == G.stocking_present) and {n=G.UIT.R, config = {align = 'cr', colour = G.C.CLEAR, padding = -0.5}, nodes = {
    {n=G.UIT.C, config = {align = 'cm', r = 0.1, colour = G.C.RED, hover = true, button = 'toggle_jokers_presents', padding = 0.05, button_dist = -0.1, area == self}, nodes = {
        {n=G.UIT.T, config = {text = localize(self == G.jokers and 'stocking_stuffer_to_presents' or 'stocking_stuffer_to_jokers'), scale = 0.2, colour = G.C.WHITE}}
    }},
    {n=G.UIT.C, config = {minw = 1.05}}
}} or nil,
'''

# Align present area counter
[[patches]]
[patches.pattern]
target = 'cardarea.lua'
match_indent = true
position = 'before'
pattern = '''
self.children.area_uibox = UIBox{
'''
payload = '''
if card_count and self == G.stocking_present then 
    card_count = {n=G.UIT.R, config={align = 'cl', padding = 0.03, no_fill = true}, nodes={
        {n=G.UIT.B, config={w = 0.1,h=0.1}},
        {n=G.UIT.T, config={text = localize('stocking_stuffer_present_count'), scale = 0.3, colour = G.C.WHITE}},
        {n=G.UIT.T, config={ref_table = self.config, ref_value = 'card_count', scale = 0.3, colour = G.C.WHITE}},
        {n=G.UIT.B, config={w = 0.1,h=0.1}}
    }}
end
'''

# Stop drawing
[[patches]]
[patches.pattern]
target = 'cardarea.lua'
match_indent = true
position = 'after'
pattern = '''
(self.config.type == 'deck' and self ~= G.deck) or
'''
payload = '''
(self.config.type == 'stocking_stuffer_hide') or
'''

# Present buttons while in Present area
[[patches]]
[patches.pattern]
target = 'functions/UI_definitions.lua'
match_indent = true
position = 'before'
pattern = '''
return base_background
'''
payload = '''
if (card.area == G.stocking_present and G.stocking_present) and card.config.center.use and type(card.config.center.use) == 'function' then --Add a use button if card has a use function
  base_attach.children.use = G.UIDEF.card_focus_button{
    card = card, parent = base_attach, type = 'use',
    func = 'can_use_consumeable', button = 'use_card', card_width = card_width
}
end
'''

# Prevent selling presents in Present area
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''
end
if card.ability.consumeable then
'''
position = "after"
payload = '''
    if (G.stocking_present and card.area == G.stocking_present) then
        if card.config.center.use and type(card.config.center.use) == 'function' then
            return {
                n=G.UIT.ROOT, config = {padding = 0, colour = G.C.CLEAR}, nodes={
                    {n=G.UIT.C, config={padding = 0.15, align = 'cl'}, nodes={
                    {n=G.UIT.R, config={align = 'cl'}, nodes={
                        {n=G.UIT.C, config={ref_table = card, align = "cr",maxw = 1.25, padding = 0.1, r=0.08, minw = 1.25, minh = (card.area and card.area.config.type == 'joker') and 0 or 1, hover = true, shadow = true, colour = G.C.UI.BACKGROUND_INACTIVE, one_press = true, button = 'use_card', func = 'can_use_consumeable'}, nodes={
                            {n=G.UIT.B, config = {w=0.1,h=0.6}},
                            {n=G.UIT.T, config={text = localize('b_use'),colour = G.C.UI.TEXT_LIGHT, scale = 0.55, shadow = true}}
                        }}
                    }},
                }},
            }}
        else
            return {
                n=G.UIT.ROOT, config = {padding = 0, colour = G.C.CLEAR}, nodes={
                    {n=G.UIT.C, config={padding = 0.15, align = 'cl'}, nodes={},
                }},
            }
        end
    end
'''
match_indent = true

# Present button alignment (This could potentially lead to some incompatibilities, not sure what better option there is apart from a janky hook)
[[patches]]
[patches.pattern]
target = "card.lua"
match_indent = true
position = 'at'
pattern = '''
config = {align=
        ((self.area == G.jokers) or (self.area == G.consumeables)) and "cr" or
        "bmi"
    , offset = 
        ((self.area == G.jokers) or (self.area == G.consumeables)) and {x=x_off - 0.4,y=0} or
        {x=0,y=0.65},
    parent =self}
'''
payload = '''
config = {align=
        ((self.area == G.jokers) or (self.area == G.consumeables) or (self.area == G.stocking_present)) and "cr" or
        "bmi"
    , offset = 
        ((self.area == G.jokers) or (self.area == G.consumeables) or (self.area == G.stocking_present)) and {x=x_off - 0.4,y=0} or
        {x=0,y=0.65},
    parent =self}
'''

# Adds present area to calculation pipelin
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
match_indent = true
position = 'before'
pattern = '''
-- TARGET: add your own CardAreas for joker evaluation
'''
payload = '''
table.insert(t, G.stocking_present)
table.insert(t, 1, G.stocking_present)
'''

# Animate CardAreas during scoring
[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
match_indent = true
position = 'after'
pattern = '''
if extrafunc then extrafunc() end
'''
payload = '''
if (card.area == G.jokers and StockingStuffer.states.slot_visible ~= 1) or (card.area == G.stocking_present and StockingStuffer.states.slot_visible ~= -1) then
    StockingStuffer.states.toggled = true
    G.FUNCS.toggle_jokers_presents()
end
'''

# comment
[[patches]]
[patches.pattern]
target = 'game.lua'
match_indent = true
position = 'after'
pattern = '''
G.playing_cards = {}

set_screen_positions()
'''
payload = '''
if V(SMODS.version) < V('1.0.0~BETA-1117b') then
    print('old compat')
    for _, mod in ipairs(SMODS.mod_list) do
        if mod.can_load and mod.custom_card_areas and type(mod.custom_card_areas) == "function" then
            mod.custom_card_areas(self)
        end
    end
end
'''
